body{
    background-image: url("petsimage.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.desc{
    line-height: 30pt;
    column-count: 3;
    column-gap: 20px;
    column-rule-style:dashed;
}

.rainbow{
    background-image: linear-gradient(to left, rgb(182, 0, 182), indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
